@import "../../assets/css/variable.scss";

.root {
  aspect-ratio: 2/3;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    background: $space-cadet;
    background: linear-gradient(to top, #2b2d42e2, #2b2d4275, rgb(12 41 37/0%));
    z-index: 2;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;

    h3 {
      color: white;
      position: absolute;
      z-index: 2;
      bottom: 40px;
      left: 20px;
      font-size: 16px;
    }
    img {
      width: 100%;
      position: absolute;
    }
  }
  :global {
    .ant-progress-text {
      color: white !important;
    }
  }
}
