@import "../../assets/css/variable.scss";
.root {
  margin-top: 12px;
  :global {
    .ant-select {
      width: 100%;
    }
    .ant-input {
      background: $amaranth-red;
      color: $alice-blue;
      padding: 12px 10px;
      border: 1px solid $amaranth-red;
    }
    .ant-input-search-button,
    .ant-input-group-addon {
      background-color: $amaranth-red;
      color: white;
      padding: 12px 10px;
      border: none;
    }
    .anticon {
      color: $alice-blue;
    }
    .ant-input-wrapper input::placeholder {
      color: $alice-blue;
    }
  }
}
