@import "../../assets/css/variable.scss";
.root {
  :global {
    .ant-btn {
      background-color: $amaranth-red;
      color: $alice-blue;
      border: $amaranth-red;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ul li:first-child {
    :hover {
      border: none;
      background-color: inherit;
    }
  }
  li {
    display: inline-block;

    padding-right: 30px;

    a {
      color: $alice-blue;
      font-weight: 400;
      font-size: 16px;
      border: 1px solid $alice-blue;
      padding: 5px 8px;
      border-radius: 5px;
      letter-spacing: 1px;
    }
    :hover {
      background-color: $amaranth-red;
      color: $alice-blue;
      border: 1px solid $amaranth-red;
    }
  }
  .active {
    font-weight: 500;
    color: $amaranth-red;
    border: 1px solid $amaranth-red;
    letter-spacing: 1px;
  }
  .dropActive {
    background-color: $amaranth-red;
    color: $alice-blue;
  }
}
